{
  "root": true,
  "env": {
    "node": true,
    "browser": true,
    "es2021": true
  },
  "ignorePatterns": ["node_modules/*", ".next/*"],
  "extends": ["eslint:recommended", "plugin:@next/next/recommended", "plugin:prettier/recommended"],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "plugins": ["react"],
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "rules": {
    "prettier/prettier": ["error", {}, { "usePrettierrc": true }]
  },
  "overrides": [
    {
      "files": [
        "./components/**/*.ts",
        "./components/**/*.tsx",
        "./lib/**/*.ts",
        "./pages/**/*.ts",
        "./pages/**/*.tsx"
      ],
      "parser": "@typescript-eslint/parser",
      "parserOptions": {
        "project": "./tsconfig.json"
      },
      "plugins": ["@typescript-eslint"],
      "extends": [
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended"
      ],
      "rules": {
        "@typescript-eslint/no-inferrable-types": "off",
        "@typescript-eslint/no-explicit-any": "off",
        // note you must disable the base rule as it can report incorrect errors
        "no-use-before-define": "off",
        "@typescript-eslint/no-use-before-define": ["error"],
        // note you must disable the base rule as it can report incorrect errors
        "no-shadow": "off",
        "@typescript-eslint/no-shadow": ["error"]
      }
    }
  ]
}
