{
  "root": true,
  "env": {
    "node": true,
    "browser": true,
    "es2021": true
  },
  "ignorePatterns": ["node_modules/*", ".next/*"],
  "extends": [
    "eslint:recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "plugin:jsx-a11y/recommended",
    "plugin:prettier/recommended"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "plugins": ["react"],
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "rules": {
    "react/jsx-uses-react": "off", // React 17 no longer requires React to be imported
    "react/react-in-jsx-scope": "off", // React 17 no longer requires React to be imported
    "prettier/prettier": ["error", {}, { "usePrettierrc": true }],
    "jsx-a11y/anchor-is-valid": [1]
  },
  "overrides": [
    {
      "files": [
        "./components/**/*.ts",
        "./components/**/*.tsx",
        "./lib/**/*.ts",
        "./pages/**/*.ts",
        "./pages/**/*.tsx"
      ],
      "parser": "@typescript-eslint/parser",
      "parserOptions": {
        "project": "./tsconfig.json"
      },
      "plugins": [
        "@typescript-eslint",
        "import"
      ],
      "extends": [
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:import/typescript"
      ],
      "rules": {
        "@typescript-eslint/no-inferrable-types": "off",
        "@typescript-eslint/no-explicit-any": "off",
        // Who needs prop-types when you have REAL types?
        "react/prop-types": "off",
        // note you must disable the base rule as it can report incorrect errors
        "no-use-before-define": "off",
        "@typescript-eslint/no-use-before-define": ["error"],
        // note you must disable the base rule as it can report incorrect errors
        "no-shadow": "off",
        "@typescript-eslint/no-shadow": ["error"]
      }
    }
  ]
}
